RewriteEngine on
Redirect 301 https://focustecno.com/el-aerogenerador-mas-grande-y-potente-del-mundo-comienza-a-construirse-en-china/ https://focustecno.com/aaa/el-aerogenerador-mas-grande-y-potente-del-mundo-comienza-a-construirse-en-china/
