	<div class="row">
		<h1><a href="https://osvaldas.info/lazy-loading-disqus-comments">Lazy-Loading Disqus Comments</a></h1>
		<nav class="nav">
			<ul>
				<li><a href="?">Usual</a>
				<li><a href="?enhanced">Enhanced</a>
				<li class="is-selected"><a href="?tabs">Tabs</a>
			</ul>
		</nav>
	</div>

<script src="https://osvaldas.info/examples/lazy-loading-disqus-comments/disqusloader.js"></script>
<script>

	
	(function()
	{
		var tabs		= document.querySelector( '.tabs' ),
			initDisqus	= function( caller )
			{
				var content = document.querySelector( '.tabcontent[data-tab="'+ caller.getAttribute( 'data-tab' ) +'"]' );

				tabs.querySelector( '.is-selected' ).classList.remove( 'is-selected' )
				caller.parentNode.classList.add( 'is-selected' );
				document.querySelector( '.tabcontent.is-selected' ).classList.remove( 'is-selected' )
				content.classList.add( 'is-selected' );				

				disqusLoader( content,
				{
					scriptUrl:		'//osvaldas.disqus.com/embed.js',
					disqusConfig:	function()
					{
						this.page.identifier	= content.getAttribute( 'data-disqus-id' );
						this.page.url			= 'https://osvaldas.info/examples/lazy-loading-disqus-comments?' + content.getAttribute( 'data-disqus-id' );
						this.page.title			= 'Lazy-Loading Disqus Comments: '+ content.getAttribute( 'data-disqus-title' );
					}
				});
			};

		[].forEach.call( tabs.querySelectorAll( 'button' ), function( entry )
		{
			entry.addEventListener( 'click', function( e )
			{
				initDisqus( this );
			});
		});

		initDisqus( tabs.querySelector( '.is-selected button' ));
	})();

	
</script>