$theme: (
  themeColor: #0a83ff,
  primaryDark: #141414,
  accentDark: #ffffff,
  lightGray: #f2f2f2,
  texts: #333333
);


  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: #ccc #fff0
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #fff0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 3px solid #fff1;
  }

.ads-box{text-align:center;background: linear-gradient(45deg, white 25%,#ececec 25%, #ececec 50%, white 50%, white 75%, #ececec 75%);background-size:10px 10px;width:100%}


@media only screen and (max-width: 600px) {
  .ads-mobil {
    display: block;
  }
  .ads-pc {
    display:none;
  }
}
@media only screen and (min-width: 600px) {
  .ads-mobil {
    display: none;
  }
  .ads-pc {
    display:block;
  }
}
