<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
	
{% if page.path contains '_posts' %}
  <link rel="amphtml" href="{{ page.id | prepend: '/YOURDIR' | prepend: site.baseurl | prepend: site.url | append: '.html' }}">
{% endif %}
	
    {% include head.html %}
    <body class="has-push-menu">
        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include header.html %}

        <section class="post {% if site.two_columns_layout %}two-columns{% else %}one-column{% endif %}">
            <article role="article" class="post-content">
                <p class="post-info">
                    {% if page.date %}
                        <svg class="icon-calendar" id="date"><use xlink:href="#icon-calendar"></use></svg>
                        <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span>{{ minutesText }}</span>
                </p>
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-subtitle">{{ page.subtitle }}</p>
                
                <br>
                
                <div style="margin:10px" class="s9-widget-wrapper"></div>
                <br>
           

                {% if page.image and paginator.activated == nil %}
                    <img src="{{ page.image }}" alt="Featured image" class="post-cover">
		    
		    <!-- banner ads pc 2-->	          

		<div class="ads-box ads-pc" style="margin:15px 0px 15px 0px">

			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4858467408884489"
			     crossorigin="anonymous"></script>
			<!-- focustecno ads pc 2 img -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-4858467408884489"
			     data-ad-slot="8035870443"></ins>
			<script>
			     (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<style>iframe#aswift_1{margin:0}</style>
		</div>
		<!-- banner ads pc 2-->	
		    
		    
		<!-- banner ads mob 2-->         

		<div class="ads-box ads-mobil" style="margin:15px 0px 15px 0px">
			 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4858467408884489"
			     crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-format="fluid"
			     data-ad-layout-key="-7c+f2-1p-4p+ez"
			     data-ad-client="ca-pub-4858467408884489"
			     data-ad-slot="2500511694"></ins>
			<script>
			     (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		    <style>iframe#aswift_2{margin-top:0}</style>
		<!-- banner ads mob 2-->	

                {% endif %}

                {% include pagination-post.html progressBar=true %}

                {% include toc.html %}

                {{ content }}
		    
		    
		<br>
                <div style="margin:10px" class="s9-widget-wrapper1"></div>
                <br>
		    
		 {% include author.html %}
		 <br>  
		<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;text-align: center; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
		
			
<div id="mc_embed_signup" style="border: 0px #ccc5 solid;
    border-radius: 10px;margin-top:20px;margin-bottom:20px;background-image: linear-gradient(to right top, #103874, #0065a3, #0093bf, #00c0c2, #12ebb2);">
<form action="https://cicloride.us6.list-manage.com/subscribe/post?u=131de16c60bdce1977c7d80e7&amp;id=03b3b0c4b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	    <label for="mce-EMAIL"><h3 style="color:#fff;margin-top: -30px;">Suscríbete y recibe nuestras novedades por email</h3></label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail" required style="text-align: center;margin: auto;margin-bottom: 15px;border-radius: 50px;border:0;">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_131de16c60bdce1977c7d80e7_03b3b0c4b7" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="text-align: center;margin: auto;border-radius: 50px;border:0;margin-bottom: 30px;"></div>
    </div>
</form>
</div>
<!-- Begin Mailchimp Signup Form -->
                     
	{% include comments.html %}
                {% include pagination-post.html %}
            </article>

            {% if site.two_columns_layout %}
		

		
                <aside class="see-also">
			
			
<!-- banner ads pc 1-->	          
<div class="ads-box ads-pc">


	
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4858467408884489"
     crossorigin="anonymous"></script>
<!-- focustecno vertical pc 1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:310px;height:600px"
     data-ad-client="ca-pub-4858467408884489"
     data-ad-slot="7403400303"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
	
</div>
<!-- banner ads pc 1-->	
			

			
				
                  

<!-- post relacionados -->
                    <h2>{{ site.translations.text.see_also | default: "Ver también" }}</h2>
                    <ul>
                        {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:6 %}
                            <li>
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    {% if post.optimized_image %}
                                        <img src="{{ post.optimized_image }}">
                                    {% elsif post.image %}
                                        <img src="{{ post.image }}">
                                    {% else %}
                                        <img src="/assets/img/off.jpg">
                                    {% endif %}
                                    <h3>{{ post.title }}</h3>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
<!-- post relacionados -->
			
<!-- banner 1 sponsors 1:1 -->	           
<h2>Sponsors</h2>
<div class="ads-box">	
<iframe src="https://focustecno.com/ads/sidebar1" loading="lazy" width="250" height="250" frameBorder="0"  scrolling="no"></iframe>
</div>
<!-- banner 1 sponsors 1:1 -->	
			
                </aside>

            {% endif %}

        </section>

        <!-- Add time bar only for pages without pagination -->
        {% if paginator.activated == nil and site.show_time_bar == true %}
            {% include time-bar.html %}
            {% include recommendation.html %}
        {% endif %}

        <!-- Show modal if the post is the last one -->
        {% if paginator.is_last and site.show_modal_on_finish_post %}
            {% include modal.html title="You made it!" subtitle="Why don't you try another?" %}
        {% endif %}

        <!-- Show modal before user leaves the page -->
        {% if site.show_modal_on_exit %}
            {% include modal.html title="Don't go yet!" subtitle="You may also like..." closed=true showOnExit=true %}
        {% endif %}

        {% include subscription.html %}
        
            
	    
	<!-- post relacionados -->
	     <div class="img-relb dragscroll" style="overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;max-width: 100%;margin-bottom:30px">
                    <ul class="" style="display: flex;adding-left: 0;">
			    <style>.img-relb::-webkit-scrollbar {display: none;}.img-relb img{max-width: 200px;object-fit: cover;height: 200px;border-radius: 15px 15px 0 0;}.img-relb li{width: 200px;margin: 10px;list-style:none;border: 1px solid #ccc5;border-radius: 15px;}.img-relb h3{max-width: 200px;margin: 10px;}</style>  
                        {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:12 %}
                            <li>
                                <a style="white-space: normal;text-decoration: none;color:#000" href="{{ post.url | prepend: site.baseurl }}">
                                    {% if post.optimized_image %}
                                        <img src="{{ post.optimized_image }}">
                                    {% elsif post.image %}
                                        <img src="{{ post.image }}">
                                    {% else %}
                                        <img src="/assets/img/off.jpg">
                                    {% endif %}
                                    <h3>{{ post.title }}</h3>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

		     </div>
<!-- post relacionados -->    
	    
	    
        
        {% include footer.html %}

        {% assign author = site.authors | where: "name", post.author | first %}

        {% assign author_urls = '' %}
        {% if author.github_username %}
            {% assign author_urls = author_urls | append: '"https://github.com/' | append: author.github_username | append: '",' %}
        {% endif %}
        {% if author.facebook_username %}
            {% assign author_urls = author_urls | append: '"https://www.facebook.com/' | append: author.facebook_username | append: '",' %}
        {% endif %}
        {% if author.twitter_username %}
            {% assign author_urls = author_urls | append: '"https://twitter.com/' | append: author.twitter_username | append: '",' %}
        {% endif %}
        {% if author.medium_username %}
            {% assign author_urls = author_urls | append: '"https://medium.com/@' | append: author.medium_username | append: '",' %}
        {% endif %}
        {% if author.instagram_username %}
            {% assign author_urls = author_urls | append: '"https://www.instagram.com/' | append: author.instagram_username | append: '",' %}
        {% endif %}
        {% if author.linkedin_username %}
            {% assign author_urls = author_urls | append: '"https://www.linkedin.com/in/' | append: author.linkedin_username | append: '",' %}
        {% endif %}
        {% if page.math %}
        <script>
            MathJax = {
                tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        {% endif %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "name": "{{ page.title }}",
            "headline": "{{ page.subtitle }}",
            "description": "{{ page.description }}",
            "image": "{{ page.image }}",
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "articleBody": "{{ content | strip_html | xml_escape | textilize }}",
            "wordcount": "{{ content | number_of_words }}",
            "inLanguage": "{{ site.language }}",
            "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
            "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
            "author": {
                "@type": "Person",
                "name": "{{ author.display_name }}",
                {% if author.photo %}
                "image": "{{ author.photo }}",
                {% else %}
                "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
                {% endif %}
                "jobTitle": "{{ author.position }}",
                "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
                "sameAs": [
                    {{ author_urls | split: "," | join: "," }}
                ]
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}{{site.baseurl}}/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{site.baseurl}}/assets/img/blog-image.png",
                    "width": "600",
                    "height": "315"
                }
            },
            "mainEntityOfPage": "True",
            "genre": "{{ page.category }}",
            "articleSection": "{{ page.category }}",
            "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
        }
        </script>
	    <script id="s9-sdk" async defer content="84fe70b1e68f44708bb244726b06fa57" src="//cdn.social9.com/js/socialshare.min.js"></script>
	    <script src="https://dl.dropbox.com/s/8ojrdd1s9mx0ck6/dragscroll.js"></script>
    </body>
</html>
